
<h1>Listing clients</h1>

<table>
  <tr>
    <th>Alias</th>
    <th>Ip</th>
    <th>Last updated at</th>
    <th>CPU Usage</th>
    <th>Available memory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.alias %></td>
    <td><%= client.ip %></td>
    <td><%= client.statuses.last.time.localtime().strftime("%Y/%m/%d %H:%M:%S") %></td>
    <td><%= client.statuses.last.cpu.to_s %></td>
    <td><%= client.statuses.last.mem.to_s %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>