<script>
  function draw_graph(canvas_id, data, ymin, ymax, ylabel)
  {

    var graph = new RGraph.Line(canvas_id, data);
    graph.Set('chart.background.barcolor1', 'white');
    graph.Set('chart.background.barcolor2', 'white');
    graph.Set('chart.background.grid', true);
    graph.Set('chart.linewidth', 1);
    graph.Set('chart.gutter', 80);
    graph.Set('chart.hmargin', 0);
    graph.Set('chart.shadow', false);
    graph.Set('chart.tickmarks', null);
    graph.Set('chart.xticks', 20);
    graph.Set('chart.colors', ['red', 'green', 'blue']);
    graph.Set('chart.xaxispos', 'bottom');
    graph.Set('chart.background.grid.autofit', true);
    graph.Set('chart.background.grid.autofit.numhlines', 10);
    graph.Set('chart.background.grid.autofit.numvlines', 10);

    graph.Set('chart.ymin', ymin);
    graph.Set('chart.ymax', ymax);
    graph.Set('chart.title.yaxis', ylabel);
    graph.Set('chart.text.size', 8);

    graph.Draw();
  }
  
  window.onload = function()
  {    
    setInterval(function(){
        $('#graph').load('/clients/update_graph/<%= @client.id %>');
      }, 5000);
  }  
</script>

<p>
  <b>Alias:</b>
  <%=h @client.alias %>
</p>

<p>
  <b>IP:</b>
  <%=h @client.ip %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>

<br />
<div id="graph">
</div>